:root {
    --primary-panel: rgb(0, 0, 0);
    --primary-side: rgb(51, 0, 0);
    --primary: rgb(104, 0, 0);
    --primary-text: white;
}
body {
    margin: 0;
}
body * {
    margin: 0;
}

.panel {
    height: 60px;
    background-color: var(--primary-panel);
}

.panel * {
    display: inline-block;
    color: var(--primary-text);
}

.panel h1 {
    transform: translate(0%, -20%);
}
.panel h2 {
    transform: translate(0%, -20%);
    color: gray;
    font-size: medium;
}

.panel img {
    height: 60px;
    
}

.main {

}


.mail , .side {
    display: inline-block;
}

.side {
    background-color: var(--primary-side);
    color: var(--primary-text);
    height: calc(100vh - 30px);
}

.side div {
    padding: 8px;
    background-color: var(--primary);
    text-align: center;
}

.side div:hover {
    text-align: center;
    filter: brightness(1.3);
}

.mail {

    width: calc(100vw - 62.15px);
}


.main ul {
    list-style: none;
    width: calc(100vw - 57.15px - 5px);
    padding: 0;
    margin: 0;
}

.main ul li {
    background-color: gray;
    width: calc(100vw - 67px);
    display: block;
    padding: 3px 2px;
}