<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapphire Bananas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.main.css') }}">
</head>
<body>
    <div class="loading">
        <img src="{{ url_for('static', filename='/img/logo.png') }}">
        <h1>Sapphire Bananas</h1>
        <p>Loading...</p>
    </div>
    <p id="hint">
        Successfully logged in via IP whitelist
    </p>
    <a id="proceed" href="/sapphire/terminal?code=7af62fd3081eecd37ae3b619f8702121ce7473cd9e72f6800926c1889ce7d3d3">
        Proceed
    </a>
</body>
</html>
