<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapphire Bananas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/loading.main.css') }}">
</head>
<body>
    <div class="loading">
        <img src="{{ url_for('static', filename='/img/logo.png') }}">
        <h1>Sapphire Bananas</h1>
        <p>Loading...</p>
    </div>
    <a id="proceed" href="/sapphire/47608f2f6d4ff8b7b1572e07047138c3f9b2bb4e332e5f938786106257ff7c9d/terminal">Proceed</a>
</body>
</html>
