<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE - Login</title>
    {% if not x %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/coretheme.css') }}">
    {% endif %}
</head>
<body>
    <div class="loading">
        <span>Loading</span> 
        <div></div>
    </div>

    CORE | 
    <a href="#">Home</a>
    <a href="">Backup</a>
    <a href="git.html" class="now">VCS</a>
    <a href="login.html">Logout</a>
    <hr>
    <h1>VCS - Backups</h1>

    <ul>
        {% if not x %}
        <li>2022-05-07</li>
        <li>2022-08-08</li>
        <li>2020-12-10</li>
        <li>2019-11-03</li>
        <li>2019-12-24</li>
        <li>2019-10-14</li>
        <li>2018-02-01</li>
        <li>2018-05-21</li>
        <li>2015-09-02</li>
        <li>2013-05-13</li>
        <li>2010-04-20</li>
        <li>2002-12-31</li>
        <li>2002-12-01</li>
        {% else %}
        <p style="background-color: red;">WARNING: NO BACKUPS AVABIABLE</p>
        {% endif %}
    </ul>
    <div class="confr non">
        Delete all backups?
        <form>
        <button action="submit" formaction="/entropy/vcs/rmall">Yes</button>
        <button action="submit" formaction="/entropy/core/">No</button>
        </form>
    </div>
</body>
</html>