<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE - Login</title>
    <link rel="stylesheet" href="coretheme.css">
</head>
<body>
    <div class="loading">
        <span>Loading</span> 
        <div></div>
    </div>

    CORE | 
    <a href="#" class="now">Home</a>
    <a href="">Backup</a>
    <a href="git.html">Git</a>
    <a href="login.html">Logout</a>
    <hr>
    <h1>Welcome</h1>
</body>
</html>