<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE - Login</title>
    <link rel="stylesheet" href="coretheme.css">
</head>
<body>
    <div class="loading">
        <span>Loading</span> 
        <div></div>
    </div>

    CORE | Login
    <hr>
    <form>
        <div class="LoginForm" id="LoginForm">
            <input type="text" placeholder="Name" id="name" name="answer"><br>
            <input type="text" placeholder="Password" id="password" name="answer"><br>
            <button action="submit" formaction="">Login</button>
        </div>
    </form>
</body>
</html>