<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SB Studios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
</head>
<body>
    <div class="panel">
        <h1> Project: Sapphire banana</h1>
        
        <a href="#" class="selected" name="nab" onclick="navb('Home')">Home</a>
        <a href="#about" name="nab" onclick="navb('About')">About</a>
        <a href="#download" name="nab" onclick="navb('Download')">Download</a>
    </div>

    <home>
        <div></div>
        <img src="{{ url_for('static', filename='/img/logo.png') }}" alt="">
    </home>


    <Br></Br>

    <nadpis id="about">
        SB šifrovka
    </nadpis>
    <main>
        Sapphire banana je hra s:
        <ul>
            <li>příběhem</li>
            <li>dvěma obtižnosti</li>
            <li>třemi konci</li>
            <li>dvanácti celkovích úkolu</li>
            <li>plottwistem</li>
        </ul>
    </main>

    <nadpis id="download">
        Stažení
    </nadpis>
    <main>
        <br>
        <a href="https://github.com/mobilex1122/Hackathon-2022-11-04/archive/refs/heads/main.zip" class="download">Download</a>
    <main>
        
    <script src="main.js"></script>
</body>
</html>